body {
  background-color: white;
  color: #333333;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif; }

h1, h2, h3, h4, h5, strong {
  font-weight: 700; }

h1, h2, dt {
  text-transform: uppercase; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 2.4rem; }

p {
  margin-bottom: 1.5rem; }

a {
  color: #1baece;
  text-decoration: none; }

ul, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  margin-bottom: 1rem; }

blockquote:before {
  content: "\201C"; }

blockquote:after {
  content: "\201D"; }

.inverted {
  background-color: #333333;
  color: white; }

.constrain {
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto; }

.portrait {
  border-radius: 50%; }

header,
section {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  width: 100%; }

header {
  padding-top: 2.3rem;
  min-height: 600px; }
  header nav {
    text-align: left; }
    header nav .menu {
      float: right; }
  header .job-description {
    position: fixed;
    z-index: -1;
    width: 100%; }
  header h1.ux-designer:before {
    content: url(../img/brush_cup.png);
    display: block;
    margin: 1.2rem auto;
    padding: 0.9rem;
    width: 200px;
    border-bottom: 2px solid #333333; }

section {
  background-color: white; }

.love {
  background-color: #f7f7f7; }

.team {
  background: url(../img/office_meeting.png) center center no-repeat;
  background-size: cover; }
  .team #quotes {
    position: relative;
    height: 420px; }
    .team #quotes .quote {
      float: left;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      -webkit-transition: opacity 500ms; }
      .team #quotes .quote blockquote {
        font-size: 2.4rem;
        font-weight: 100;
        margin: 6rem auto 3rem;
        max-width: 52rem; }
      .team #quotes .quote .author * {
        margin: 0 auto 1rem;
        display: block; }
      .team #quotes .quote .author .name {
        text-transform: uppercase; }
      .team #quotes .quote .author .title {
        font-weight: 100; }
    .team #quotes .quote.active {
      opacity: 1;
      -webkit-transition-delay: 500ms; }
  .team .bullets li {
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin: 4px;
    cursor: pointer;
    width: 9px;
    height: 9px;
    vertical-align: middle; }
  .team .bullets li.active {
    background-color: transparent;
    border: 2px solid #fff;
    width: 11px;
    height: 11px;
    margin: 2px; }

.details h2 em {
  font-weight: 100; }
.details .info {
  border-top: 1px solid #ebebeb;
  margin-top: 5rem;
  padding-top: 5rem; }

#photos {
  position: relative;
  padding: 0; }
  #photos img {
    max-width: 16.6666%; }
  #photos .instagram-link {
    background: #1baece url(../img/instagram_link.png) center center no-repeat;
    width: 65px;
    height: 65px;
    position: absolute;
    right: 0;
    bottom: 0; }
    #photos .instagram-link span {
      display: none; }

.perks {
  background: url(../img/palm_tree.png) top center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .perks .perk {
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding-top: 5rem; }
    .perks .perk dt {
      font-weight: 600;
      margin-bottom: 0.7rem; }
  .perks .health {
    background-image: url(../img/medic.png); }
  .perks .retirement {
    background-image: url(../img/pig.png); }
  .perks .travel {
    background-image: url(../img/scooter.png); }
  .perks .vacation {
    background-image: url(../img/beach.png); }
  .perks .lunch {
    background-image: url(../img/cutlery.png); }
  .perks .bonus {
    background-image: url(../img/cash.png); }
  .perks .dental-vision {
    background-image: url(../img/glasses.png); }
  .perks .growth {
    background-image: url(../img/column.png); }
  .perks .snacks {
    background-image: url(../img/fruit.png); }
  .perks .beer {
    background-image: url(../img/beer.png); }
  .perks .coffee {
    background-image: url(../img/coffee.png); }
  .perks .apple {
    background-image: url(../img/laptop.png); }

.quiz {
  padding-bottom: 0; }
  .quiz h2:before {
    content: url(../img/pencil.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.25rem; }
  .quiz .questions, .quiz .question {
    width: 100%;
    height: 25rem;
    overflow: hidden;
    display: block; }
  .quiz .questions {
    position: relative;
    background-color: #000000; }
    .quiz .questions .question {
      top: 100%;
      position: absolute;
      background-color: #4A4A4A; }
    .quiz .questions .question.show {
      top: 0; }
  .quiz .bar, .quiz .bar > * {
    width: 100%;
    height: 110px; }
  .quiz .bar {
    position: relative; }
  .quiz .bar > * {
    position: absolute;
    bottom: 0; }
  .quiz .options {
    background-color: #0a0a0a; }
    .quiz .options li {
      margin: 36px 10px;
      width: 10rem;
      height: 38px;
      border-radius: 19px;
      line-height: 38px;
      display: inline-block;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase; }
    .quiz .options li:hover {
      background-color: #ffffff;
      color: #0a0a0a; }
  .quiz .result {
    line-height: 110px;
    display: none;
    backface-visibility: hidden; }
  .quiz .correct {
    background-color: #4ed195; }
  .quiz .incorrect {
    background-color: #f95c59; }

.apply h2:after {
  content: url(../img/checkmark.png);
  display: block;
  padding-top: 1.5rem; }
.apply .job-link {
  border: 1px solid #1f1f1f;
  display: inline-block;
  padding: 1rem 2.5rem; }
  .apply .job-link a {
    font-weight: 700; }
