$bg-color: #ffffff;
$font-color: #333333;
$link-color: #1baece;
$link-hover-color: #1baece;
$constrain-value: 52rem;

body {
  background-color: $bg-color;
  color: $font-color;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

h1, h2, h3, h4, h5, strong {
  font-weight: 700;
}

h1, h2, dt {
  text-transform: uppercase;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: $link-color;
  text-decoration: none;
}

ul, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

blockquote:before {
  content: "\201C";
}

blockquote:after {
  content: "\201D";
}

.inverted {
  background-color: $font-color;
  color: $bg-color;
}

.constrain {
  max-width: $constrain-value;
  margin-left: auto;
  margin-right: auto;
}

.portrait {
  border-radius: 50%;
}

header,
section {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  width: 100%;
}

header {
  padding-top: 2.3rem;
  min-height: 600px;
  nav {
    text-align: left;
    .menu {
      float: right;
    }
  }
  .job-description {
    position: fixed;
    z-index: -1;
    width: 100%;
  }
  h1.ux-designer:before {
    content: url(../img/brush_cup.png);
    display: block;
    margin: 1.2rem auto;
    padding: 0.9rem;
    width: 200px;
    border-bottom: 2px solid $font-color;
  }
}

section {
  background-color: $bg-color;
}

.love {
  background-color: #f7f7f7;
}

.team {
  background: url(../img/office_meeting.png) center center no-repeat;
  background-size: cover;
  #quotes {
    position: relative;
    height: 420px;
    .quote {
      float: left;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      -webkit-transition: opacity 500ms;
      blockquote {
        font-size: 2.4rem;
        font-weight: 100;
        margin: 6rem auto 3rem;
        max-width: $constrain-value;
      }
      .author {
        * {
          margin: 0 auto 1rem;
          display: block;
        }
        .name {
          text-transform: uppercase;
        }
        .title {
          font-weight: 100;
        }
      }
    }
    .quote.active {
      opacity: 1;
      -webkit-transition-delay: 500ms;
    }
  }
  .bullets {
    li {
      background-color: #fff;
      display: inline-block;
      border-radius: 50%;
      margin: 4px;
      cursor: pointer;
      width: 9px;
      height: 9px;
      vertical-align: middle;
    }
    li.active {
      background-color: transparent;
      border: 2px solid #fff;
      width: 11px;
      height: 11px;
      margin: 2px;
    }
  }
}

.details {
  h2 {
    em {
      font-weight: 100;
    }
  }

  .info {
    border-top: 1px solid #ebebeb;
    margin-top: 5rem;
    padding-top: 5rem;
  }
}

#photos {
  position: relative;
  padding: 0;
  img {
    max-width: 16.6666%;
  }
  .instagram-link {
    background: $link-color url(../img/instagram_link.png) center center no-repeat;
    width: 65px;
    height: 65px;
    position: absolute;
    right: 0;
    bottom: 0;
    span {
      display: none;
    }
  }
}

.perks {
  background: url(../img/palm_tree.png) top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .perk {
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding-top: 5rem;
    dt {
      font-weight: 600;
      margin-bottom: 0.7rem;
    }
  }
  .health {
    background-image: url(../img/medic.png);
  }
  .retirement {
    background-image: url(../img/pig.png);
  }
  .travel {
    background-image: url(../img/scooter.png);
  }
  .vacation {
    background-image: url(../img/beach.png);
  }
  .lunch {
    background-image: url(../img/cutlery.png);
  }
  .bonus {
    background-image: url(../img/cash.png);
  }
  .dental-vision {
    background-image: url(../img/glasses.png);
  }
  .growth {
    background-image: url(../img/column.png);
  }
  .snacks {
    background-image: url(../img/fruit.png);
  }
  .beer {
    background-image: url(../img/beer.png);
  }
  .coffee {
    background-image: url(../img/coffee.png);
  }
  .apple {
    background-image: url(../img/laptop.png);
  }
}

.quiz {
  padding-bottom: 0;
  h2:before {
     content: url(../img/pencil.png);
     display: inline-block;
     vertical-align: middle;
     margin-right: 1.25rem;
  }
  #test {
    position:relative;
  }
  .questions, .questions li {
    width: 100%;
    height: 25rem;
    overflow: hidden;
    display: block;
  }
  .questions {
    -webkit-perspective: 1500px;
    perspective: 1500px;

    position: relative;
    background-color: #000000;
    li {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: all 500ms;
      transition: all 500ms;

      top: 100%;
      position: absolute;
      background-color: #4A4A4A;
    }
    li.show {
      top: 0;
      -webkit-transition-delay: 400ms;
      transition-delay: 400ms;
    }
    li.hide {
      opacity: 0.8;
      top: 0;
      -webkit-transform: translate3d(0, 0, -300px);
      transform: translate3d(0, 0, -300px);
    }
  }
  .bar, .bar > * {
    width: 100%;
    height: 110px;
  }
  
  .bar > * {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 500px;
    perspective: 500px;

    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
  }
  .bar {
    position: absolute;
    bottom: 0;
    .show {
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    .options {
      background-color: rgba(0,0,0,0.8);
      li {
        margin: 36px 10px;
        width: 10rem;
        height: 38px;
        border-radius: 19px;
        line-height: 38px;
        display: inline-block;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      li:hover {
        background-color: #ffffff;
        color: #0a0a0a;
      }
    }
    .result {
      line-height: 110px;
    }
    .correct {
      background-color: #4ed195;
    }
    .incorrect {
      background-color: #f95c59;
    }
  }
}

.apply {
  h2:after {
    content: url(../img/checkmark.png);
    display: block;
    padding-top: 1.5rem;
  }
  .job-link {
    border: 1px solid #1f1f1f;
    display: inline-block;
    padding: 1rem 2.5rem;
    a {
      font-weight: 700;
    }
  }
}
