body {
  background-color: #ffffff;
  color: #333333;
  font-size: 20px;
}

h1, h2, dt {
  text-transform: uppercase;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inverted {
  background-color: #333333;
  color: #ffffff;
}

header,
section {
  text-align: center;
  width: 100%;
}

section {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
