$bg-color: #ffffff;
$font-color: #333333;
$link-color: #1baece;
$link-hover-color: #1baece;

body {
  background-color: $bg-color;
  color: $font-color;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

h1, h2, h3, h4, h5, strong {
  font-weight: 700;
}

h1, h2, dt {
  text-transform: uppercase;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: $link-color;
  text-decoration: none;
}

ul, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

blockquote:before {
  content: "\201C";
}

blockquote:after {
  content: "\201D";
}

.inverted {
  background-color: $font-color;
  color: $bg-color;
}

.constrain {
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

.portrait {
  border-radius: 50%;
}

header,
section {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  width: 100%;
}

header {
  padding-top: 2.3rem;
  nav {
    text-align: left;
    .menu {
      float: right;
    }
  }
  h1.ux-designer:before {
    content: url(../img/brush_cup.png);
    display: block;
    margin: 1.2rem auto;
    padding: 0.9rem;
    width: 200px;
    border-bottom: 2px solid $font-color;
  }
}

.love {
  background-color: #f7f7f7;
}

.team {
  background: url(../img/office_meeting.png) center center no-repeat;
  background-size: cover;
  .quote {
    display: none;
    blockquote {
      font-size: 2.4rem;
      font-weight: 100;
      margin-bottom: 3rem;
      margin-top: 6rem;
    }
    .author {
      * {
        margin: 0 auto 1rem;
        display: block;
      }
      .name {
        text-transform: uppercase;
      }
      .title {
        font-weight: 100;
      }
    }
  }
  .quote.active {
    display: block;
  }
}

.details {
  h2 {
    em {
      font-weight: 100;
    }
  }

  .info {
    border-top: 1px solid #ebebeb;
    margin-top: 5rem;
    padding-top: 5rem;
  }
}

#photos {
  padding: 0;
  img {
    max-width: 16.6666%;
  }
}

.perks {
  background: url(../img/palm_tree.png) top center no-repeat;
  background-size: cover;
  .perk {
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding-top: 5rem;
    dt {
      font-weight: 600;
      margin-bottom: 0.7rem;
    }
  }
  .health {
    background-image: url(../img/medic.png);
  }
  .retirement {
    background-image: url(../img/pig.png);
  }
  .travel {
    background-image: url(../img/scooter.png);
  }
  .vacation {
    background-image: url(../img/beach.png);
  }
  .lunch {
    background-image: url(../img/cutlery.png);
  }
  .bonus {
    background-image: url(../img/cash.png);
  }
  .dental-vision {
    background-image: url(../img/glasses.png);
  }
  .growth {
    background-image: url(../img/column.png);
  }
  .snacks {
    background-image: url(../img/fruit.png);
  }
  .beer {
    background-image: url(../img/beer.png);
  }
  .coffee {
    background-image: url(../img/coffee.png);
  }
  .apple {
    background-image: url(../img/laptop.png);
  }
}

.apply{
  h2:after {
    content: url(../img/checkmark.png);
    display: block;
    padding-top: 1.5rem;
  }
  .job-link {
    border: 1px solid #1f1f1f;
    display: inline-block;
    padding: 1rem 2.5rem;
    a {
      font-weight: 700;
    }
  }
}
